// ****** ****** ****** ******
// General Style
// ****** ****** ****** ******

// ****** ****** ****** ******
// RESET
// ****** ****** ****** ******
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: $gray;
  background: $white center / cover no-repeat url("/assets/img/header-bg.jpg");
  background-attachment: fixed;

  &.overflow {
    overflow: hidden;
  }
}

// ****** ****** ****** ******
// GLOBAL STYLE
// ****** ****** ****** ******

// Links
a {
  @include transition(all 0.5s ease-in-out);
}
a.link {
  position: relative;
}
a.link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 11px;
  background-color: $gold;
  @include transition(all 0.5s ease-in-out);
}
a:hover,
a:focus {
  color: $gold;
  text-decoration: none;
  @include transition(all 0.5s ease-in-out);
}
a:hover:after {
  width: 50%;
}

// Layout
.dark-bg {
  background-color: $gray;
  color: $light_gray;
}
.light-bg {
  background-color: $white;
  color: $gray;
}

.section-gap {
  padding: 120px 0;
}

.lead-article {
  padding: 0 4rem;
}
// Display Heading
.section-head {
  padding: 2rem 0 3rem;
}
.heading {
  line-height: 3rem;
  font-family: $font_2;
}

.sub-heading {
  font-family: $raleway;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: $gold;
  margin-top: 0;

  &::before {
    content: "/ ";
  }
}

.sub-text {
  font-family: $raleway;
  font-size: 2rem;
  line-height: 3rem;
}

// ****** ****** ****** ******
// NAVIGATION
// ****** ****** ****** ******

// Logo
.header-logo {
  left: 55px;
  top: 55px;
  @include transform(translateY(0%));
  @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
  transition-delay: 1s;

  &.hide {
    @include transform(translateY(-300%));
    @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
  }
}
.menu-logo {
  top: 55px;
  @include transform(translateY(-300%));
  @include transition(transform 0.55s);

  &.show {
    @include transform(translateY(0%));
    @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
    transition-delay: 1s;
  }
}
.header-logo,
.menu-logo {
  z-index: 100;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  a.site-logo {
    display: block;
    padding: 0;
    outline: 0;
    border: none;
    font-family: $font_4;
    font-size: 2em;
    color: $gold;
    letter-spacing: -1px;
    @include transition(all 0.5s ease-in-out);
    &:hover {
      color: $light_gray;
    }
    img {
      width: 200px;
      height: 38px;
    }
  }
}

// Menu Button
.menu-btn {
  position: fixed;
  z-index: 10;
  right: 55px;
  top: 55px;
  cursor: pointer;

  @include transition(all 0.5s ease-in-out);
  background: $black;
  padding: 5px;

  &:hover {
    .btn-line {
      &:nth-child(2) {
        background: $gold;
        transform: translate(6px, 0px);
      }
    }
  }

  .btn-line {
    height: 5px;
    background: set-text-color($black);

    @include transition(all 0.5s ease-in-out);
    &:nth-child(1) {
      width: 28px;
      margin: 0 0 5px 0;
    }
    &:nth-child(2) {
      width: 22px;
      margin: 0 0 5px 0;
    }
    &:nth-child(3) {
      width: 28px;
    }
  }

  // Rotate Into X With Menu Lines
  &.clicked {
    // transform: rotate(360deg);
    .btn-line {
      background: set-text-color($black);
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        // opacity: 0;
        transform: translate(-80%, 0px);
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}

// Menu
.menu {
  color: $white;
  background-color: $gray;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  padding: 120px 90px 70px 90px;
  overflow-y: auto;
  @include transform(translateX(100%));
  @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
  transition-delay: 0.25s;

  &.show {
    @include transform(translateX(0px));

    ul.menu-ul {
      li {
        @include transform(translateX(0px));
        opacity: 1;

        @for $i from 1 to 10 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.25s;
          }
        }
      }
    }

    .menu-about {
      @include transform(translateY(0px));
      opacity: 1;
      transition-delay: 0.85s;
    }
    .menu-footer {
      @include transform(translateY(0px));
      opacity: 1;
      transition-delay: 1s;
    }
  }

  ul.menu-ul {
    list-style: none;
    padding: 0%;
    li {
      margin-bottom: 20px;
      @include transform(translateX(40px));
      opacity: 0;
      @include transition(all 0.3s ease);

      &:last-of-type {
        margin-bottom: 0px;
      }

      a {
        color: $white;
        font-family: $raleway;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        display: block;
        letter-spacing: 5px;
        font-weight: 600;
        padding: 10px 0;
        @include transition(all 0.3s ease);

        span {
          color: $gold;
        }

        &:hover {
          color: $gold;
        }
      }
    }
  }
  .menu-about {
    margin-top: 40px;
    @include transform(translateY(30px));
    opacity: 0;
    @include transition(all 0.4s ease);
    & a {
      color: $light_gray;
      margin-right: 20px;
      &:hover {
        color: $white;
      }
      &:after {
        content: "";
        width: 230px;
        height: 2px;
        background-color: $gold;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    p {
      font-size: 1.05rem;
      letter-spacing: 0.5px;
      line-height: 170%;
    }
  }
  .menu-footer {
    color: $white;
    margin-top: 40px;
    @include transform(translateY(30px));
    opacity: 0;
    @include transition(all 0.4s ease);
  }
}

// Delay each nav item slide by 0.1s
@for $x from 4 through 1 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

// Menu Overlay

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  @include transition(all 0.3s ease-in-out);
  background-color: $white;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 0.8;
    visibility: visible;
  }
}

// ****** ****** ****** ******
//  JUMBOTRON
// ****** ****** ****** ******

.hero {
  // min-height: calc(100vh - 60px);
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  border-radius: 0%;
  display: flex;
  align-items: center;
  color: $gray;
  z-index: 100;
  background: transparent;

  // border-radius: 0.3rem 30rem 0.3rem 0.3rem;
  // margin: 30px;
  // background: $white center / cover no-repeat url("/assets/img/header-bg.jpg");
  // background-attachment: fixed;
  // box-shadow: 0px 2px 5px #dbdbdb;

  h1 {
    letter-spacing: -2px;
    font-size: 6rem;
    font-family: $font_2;
  }

  .lead {
    font-size: 2.6rem;
    padding-left: 120px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 5rem;
      height: 1px;
      background-color: $gold;
      position: absolute;
      left: 6px;
      top: 2.4rem;
    }
  }
}

// ****** ****** ****** ******
//  PORTFOLIO
// ****** ****** ****** ******

.portfolio-area {
  border-radius: 0 0 20rem 0;
  .primary-btn {
    color: #ffffff;
    background-color: #b7ac7f;
    margin-left: auto;
    margin-right: auto;
  }
  .filters {
    text-align: center;
    margin-top: 50px;
    ul {
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        padding: 20px 30px;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        color: #000000;
        font-weight: 500;
        &:after {
          content: "";
          display: block;
          width: calc(0% - 60px);
          position: absolute;
          height: 2px;
          background: #333;
          transition: width 350ms ease-out;
        }
        &:hover:after {
          width: calc(100% - 60px);
          transition: width 350ms ease-out;
        }
        &.active {
          color: #b7ac7f;
        }
      }
    }
  }
  .filters-content {
    margin-top: 50px;
    .show {
      opacity: 1;
      visibility: visible;
      transition: all 350ms;
    }
    .hide {
      opacity: 0;
      visibility: hidden;
      transition: all 350ms;
    }
    .item {
      position: relative;
      float: left;
      display: block;

      text-align: center;
      cursor: pointer;
      margin-bottom: 30px;

      &:hover .p-inner,
      &:hover .img-blur-container {
        opacity: 1;
        @include transition(all 0.5s ease-in-out);
      }
      .img-blur-container {
        position: absolute;
        opacity: 0;
        left: 30px;
        top: 30px;
        overflow: hidden;

        width: calc(100% - 60px);
        height: calc(100% - 60px);
        @include transition(all 0.5s ease-in-out);
        .img-blur {
          position: absolute;

          left: -30px;
          top: -30px;
          width: calc(100% + 60px);
          height: calc(100% + 60px);
          filter: blur(10px);
        }
      }

      .p-inner {
        position: absolute;
        opacity: 0;
        left: 30px;
        top: 30px;
        // to center content
        display: flex;
        flex-direction: column;
        justify-content: center;
        resize: vertical;

        width: calc(100% - 60px);
        height: calc(100% - 60px);
        background-color: rgba(255, 255, 255, 0.1);
        background-clip: border-box;
        border: $white_10 1px solid;
        color: $white;
        @include transition(all 0.5s ease-in-out);

        h4 {
          font-size: 15px;
        }
        .cat {
          font-size: 13px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

// ****** ****** ****** ******
//  CONTACT AREA
// ****** ****** ****** ******

.contact-area {
  border-radius: 0 20rem 0 0;
  padding-bottom: 10.2rem;
  position: relative;
  a {
    color: $white;
    border-bottom: 1px solid transparent;
    display: inline-block;
    &:hover {
      color: $gold;
      border-bottom: 1px solid $gold;
    }
    &:focus {
      color: $gold;
      border-bottom: 1px solid $gold;
    }
  }
}
.contact-main {
  margin-top: 8rem;
  margin-bottom: 3rem;
  &::before {
    content: "";
    display: block;
    height: 2px;
    width: 230px;
    background-color: $gold;
    position: absolute;
    top: 0;
  }
  & a {
    color: $light_gray;
    &.contact-email {
      color: $white;
      font-size: 3rem;
    }
    &:hover {
      color: $gold;
      border-bottom: 1px solid $gold;
    }
    &:focus {
      color: $gold;
      border-bottom: 1px solid $gold;
    }
  }
}

.contact-social {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 0.3rem;
  font-size: 2rem;
  li {
    margin-right: 15px;
    padding-left: 0;
    display: inline-block;
    a {
      color: $light_gray;
      border: none !important;
      &:hover {
        color: $white;
      }
      &:focus {
        color: $white;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}
.copyright {
  margin-top: 2.1rem;
  span {
    font-size: 15px;
    display: inline-block;
    &:last-child::after {
      display: none;
    }
  }
  span::after {
    content: "|";
    display: inline-block;
  }
}

// ****** ****** ****** ******
//  MEDIA QUERIES BOOTSTRAP ^4
// ****** ****** ****** ******

// MAX WIDTH
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .heading {
    font-size: 2.5rem;
  }
  .sub-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .contact-main {
    a.contact-email {
      font-size: 1.8rem;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .portfolio-area .filters ul li {
    padding: 6px 6px;
  }
  .hero {
    margin: 0;
    min-height: 100vh;
    border-radius: 0%;
    h1 {
      font-size: 4rem;
      font-weight: 400;
    }
    .lead {
      font-size: 1.6rem;
      padding-left: 60px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 2rem;
        height: 1px;
        background-color: $gold;
        position: absolute;
        left: 6px;
        top: 1.4rem;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// MIN WIDTH
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .menu {
    width: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
