// General Style

// RESET
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: $gray;

  &.overflow {
    overflow: hidden;
  }
}

// GLOBAL STYLE

.section-gap {
  padding: 120px 0;
}

// Display Heading
.sub-head {
  font-family: $raleway;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: $gold;
  margin-top: 0;
  margin-bottom: 2.1rem;
}
.sub-head::before {
  content: "/ ";
}
.heading {
  line-height: 3rem;
  font-family: $raleway;
}
.sub-text {
  font-family: $raleway;
  line-height: 3rem;
}

// NAVIGATION

// Logo
.header-logo {
  z-index: 501;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 55px;
  top: 60px;

  a {
    display: block;
    padding: 0;
    outline: 0;
    border: none;
    img {
      width: 200px;
      height: 38px;
    }
  }
}

// Menu Button
.menu-btn {
  position: fixed;
  z-index: 10;
  right: 55px;
  top: 55px;
  cursor: pointer;

  @include transition(all 0.5s ease);
  background: $black;
  padding: 5px;

  &:hover {
    .btn-line {
      &:nth-child(2) {
        background: $gold;
        transform: translate(6px, 0px);
      }
    }
  }

  .btn-line {
    height: 5px;
    background: set-text-color($black);

    @include transition(all 0.5s ease);
    &:nth-child(1) {
      width: 28px;
      margin: 0 0 5px 0;
    }
    &:nth-child(2) {
      width: 22px;
      margin: 0 0 5px 0;
    }
    &:nth-child(3) {
      width: 28px;
    }
  }

  // Rotate Into X With Menu Lines
  &.clicked {
    // transform: rotate(360deg);
    .btn-line {
      background: set-text-color($black);
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        // opacity: 0;
        transform: translate(-80%, 0px);
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}

// Menu
.menu {
  background-color: $gray;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  padding: 120px 90px 70px 90px;
  overflow-y: auto;
  @include transform(translateX(100%));
  @include transition(transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86));

  &.show {
    @include transform(translateX(0px));

    ul.menu-ul {
      list-style: none;
      padding: 0%;
      li {
        @include transform(translateX(0px));
        opacity: 1;

        @for $i from 1 to 10 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.15s;
          }
        }
      }
    }

    .about {
      @include transform(translateY(0px));
      opacity: 1;
      transition-delay: 0.85s;
      .social-links a {
        color: $white;
        margin-right: 20px;
        &:hover {
          color: $gold;
        }
        &:after {
          content: "";
          width: 230px;
          height: 2px;
          background-color: $gold;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }

  ul.menu-ul {
    list-style: none;
    padding: 0%;
    li {
      margin-bottom: 20px;
      @include transform(translateX(40px));
      opacity: 0;
      @include transition(all 0.3s ease);

      &:last-of-type {
        margin-bottom: 0px;
      }

      a {
        color: $white;
        font-family: $raleway;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        display: block;
        letter-spacing: 5px;
        font-weight: 600;
        padding: 10px 0;
        @include transition(all 0.3s ease);

        span {
          color: $gold;
        }

        &:hover {
          color: $gold;
        }
      }
    }
  }
  .about {
    margin-top: 40px;
    @include transform(translateY(30px));
    opacity: 0;
    @include transition(all 0.4s ease);

    .social-links a {
      color: $white;
      margin-right: 20px;
      &:hover {
        color: $gold;
      }
      &:after {
        content: "";
        width: 230px;
        height: 2px;
        background-color: $gold;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    p {
      color: $white;
      font-family: $spectral;
      font-size: 1.05rem;
      letter-spacing: 0.5px;
      line-height: 170%;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $x from 4 through 1 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

// Menu Overlay

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  @include transition(all 0.3s ease-in-out);
  background-color: $white;
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 0.8;
    visibility: visible;
  }
}

// *********************************
//  JUMBOTRON
// *********************************

.hero {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  color: $gray;
  margin: 30px;
  background: $black center / cover no-repeat url("/assets/img/header-bg.jpg");
  z-index: 100;
  box-shadow: 0px 2px 5px $light_gray;

  h1 {
    font-family: $raleway;
    font-weight: 200;
    font-size: 6rem;
  }

  .lead {
    font-size: 3rem;
    padding-left: 120px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 4rem;
      height: 1px;
      background-color: $gold;
      position: absolute;
      left: 6px;
      top: 2.7rem;
    }
  }
}

// *********************************
//  PORTFOLIO
// *********************************

.protfolio-wrap {
  margin: 50px;
}

@media (max-width: 767px) {
  .protfolio-wrap {
    margin: 30px;
  }
}

@media (max-width: 575px) {
  .protfolio-wrap {
    margin: 10px;
  }
}
.portfolio-area {
  .primary-btn {
    color: #ffffff;
    background-color: #b7ac7f;
    margin-left: auto;
    margin-right: auto;
  }
  .filters {
    text-align: center;
    margin-top: 50px;
    ul {
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        padding: 20px 30px;
        cursor: pointer;
        position: relative;
        text-transform: uppercase;
        color: #000000;
        font-weight: 500;
        &:after {
          content: "";
          display: block;
          width: calc(0% - 60px);
          position: absolute;
          height: 2px;
          background: #333;
          transition: width 350ms ease-out;
        }
        &:hover:after {
          width: calc(100% - 60px);
          transition: width 350ms ease-out;
        }
        &.active {
          color: #b7ac7f;
        }
      }
    }
  }
  .filters-content {
    margin-top: 50px;
    .show {
      opacity: 1;
      visibility: visible;
      transition: all 350ms;
    }
    .hide {
      opacity: 0;
      visibility: hidden;
      transition: all 350ms;
    }
    .item {
      position: relative;
      float: left;
      display: block;

      text-align: center;
      cursor: pointer;
      margin-bottom: 30px;

      &:hover .p-inner,
      &:hover .img-blur-container {
        opacity: 1;
        @include transition(all 0.5s ease);
      }
      .img-blur-container {
        position: absolute;
        opacity: 0;
        left: 30px;
        top: 30px;
        overflow: hidden;

        width: calc(100% - 60px);
        height: calc(100% - 60px);
        .img-blur {
          position: absolute;

          left: -30px;
          top: -30px;
          width: calc(100% + 60px);
          height: calc(100% + 60px);
          filter: blur(10px);
        }
      }

      .p-inner {
        position: absolute;
        opacity: 0;
        left: 30px;
        top: 30px;
        // to center content
        display: flex;
        flex-direction: column;
        justify-content: center;
        resize: vertical;

        width: calc(100% - 60px);
        height: calc(100% - 60px);
        background-color: rgba(255, 255, 255, 0.1);
        background-clip: border-box;
        border: $white 1px solid;
        color: $white;

        h4 {
          font-size: 15px;
        }
        .cat {
          font-size: 13px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 736px) {
  .portfolio-area .filters ul li {
    padding: 6px 6px;
  }
}

// *********************************
//  CONTACT AREA
// *********************************

.contact-area {
  padding-bottom: 10.2rem;
  background-color: $gray;
  color: $light_gray;
  position: relative;
  a {
    color: $white;
    border-bottom: 1px solid transparent;
    display: inline-block;
    &:hover {
      border-bottom: 1px solid $white_10;
    }
    &:focus {
      border-bottom: 1px solid $white_10;
    }
  }
}
.contact-main {
  margin-top: 8rem;
  margin-bottom: 3rem;
}
.contact-email {
  display: inline-block;
  font-size: 3rem;
  line-height: 1;
  color: $white;
  padding-top: 3.6rem;
  position: relative;
}
.contact-email::before {
  content: "";
  display: block;
  height: 2px;
  width: 230px;
  background-color: $gold;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 575.98px) {
  .contact-email {
    font-size: 2rem;
  }
}

.contact-social {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 0.3rem;
  font-size: 2rem;
  li {
    margin-right: 15px;
    padding-left: 0;
    display: inline-block;
    a {
      color: $light_gray;
      border: none !important;
      &:hover {
        color: $white;
      }
      &:focus {
        color: $white;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
}
.copyright {
  margin-top: 2.1rem;
  span {
    font-size: 15px;
    display: inline-block;
    &:last-child::after {
      display: none;
    }
  }
  span::after {
    content: "|";
    display: inline-block;
  }
}
