// ****** ****** ****** ******
//  MEDIA QUERIES BOOTSTRAP ^4
// ****** ****** ****** ******

// MAX WIDTH
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  // Layout
  .parallax {
    height: 200%;
  }

  // menu
  .menu {
    padding: 120px 55px 55px 55px;
    ul.menu-ul {
      li {
        margin-bottom: 0;
      }
    }
  }
  .heading {
    font-size: 2.5rem;
  }
  .sub-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .lead-article {
    padding: 0 1rem;
  }

  .contact-main {
    a.contact-email {
      font-size: 1.8rem;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  // JUMBOTRON
  .hero {
    h1 {
      font-size: 4rem;
      font-weight: 400;
    }
    .hero-subtitle {
      font-size: 1.6rem;
      padding-left: 60px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 2rem;
        height: 1px;
        background-color: $gold;
        position: absolute;
        left: 6px;
        top: 1.4rem;
      }
    }
  }

  // ABOUT
  .about-area {
    .skill-cat {
      text-align: center;
    }
  }

  // PORTFOLIO
  .portfolio-area .filters ul li {
    padding: 6px 6px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// MIN WIDTH
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .menu {
    width: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // JUMBOTRON
  .hero {
    h1 {
      font-size: 10rem;
    }

    .hero-subtitle {
      font-size: 4rem;
      padding-left: 120px;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 5rem;
        height: 2px;
        background-color: $gold;
        position: absolute;
        left: 6px;
        top: 3.2rem;
      }
    }
  }

  // PORTFOLIO
  .portfolio-container {
    max-width: 80%;
  }
}
