// Variables
$secondary-color: #eece1a;
$black: #000000;
$white: #ffffff;
$gray: #2a2a2a;
$gold: #b7ac7f;

// Fonts

$raleway: "Raleway", sans-serif;
$spectral: "Spectral", serif;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
