// Variables

$black: #000000;
$white: #ffffff;
$gray: #1f1f1f;
$light_gray: rgb(110, 110, 110);

$gold: #b7ac7f;
$white_10: rgba(255, 255, 255, 0.3);

// Fonts

$raleway: "Raleway", sans-serif;
$font_2: "Playfair Display", serif;
$font_3: "Cormorant Unicase", serif;
$font_4: "Lobster", cursive;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
