::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* Preloader */
.loader {
  position: absolute;
  display: block;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 15px;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader i {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  width: 5px;
  height: 15px;
  border-radius: 2px;
  border: solid #000000;
  border-width: 0 1px 1px 0;
  background: #000000;
  -webkit-animation: tilt infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
          animation: tilt infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.loader i:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader i:nth-child(2)::before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader i:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader i:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader i:nth-child(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader i:nth-child(4)::before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader i:nth-child(5) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.loader i:nth-child(5)::before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.loader i:nth-child(6) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.loader i:nth-child(6)::before {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.loader i:nth-child(7) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.loader i:nth-child(7)::before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.loader i:nth-child(8) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.loader i:nth-child(8)::before {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.loader i:nth-child(9) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.loader i:nth-child(9)::before {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.loader i:nth-child(10) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.loader i:nth-child(10)::before {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.loader i:last-of-type {
  -webkit-animation-name: tilt-last;
          animation-name: tilt-last;
}

.loader i:last-of-type::before {
  -webkit-animation-name: stretch-last;
          animation-name: stretch-last;
}

.loader i::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 0 2px rgba(0, 0, 0, 0.3);
  -webkit-animation: stretch infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
          animation: stretch infinite 5s cubic-bezier(0.955, -0.01, 1, 1);
  opacity: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

@-webkit-keyframes tilt {
  10% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  60% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tilt {
  10% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  60% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes tilt-last {
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes tilt-last {
  10% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  60% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes stretch {
  10% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
    left: 0;
    bottom: -1px;
  }
  60% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
  }
  70% {
    width: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes stretch {
  10% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
    left: 0;
    bottom: -1px;
  }
  60% {
    -webkit-transform: rotate(-70deg);
            transform: rotate(-70deg);
    width: 10px;
    opacity: 1;
  }
  70% {
    width: 5px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes stretch-last {
  10% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: 0.5;
    left: 3px;
    bottom: -1px;
  }
  60% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: 0.5;
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 5px;
    height: 5px;
    opacity: 0;
  }
}

@keyframes stretch-last {
  10% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: 0.5;
    left: 3px;
    bottom: -1px;
  }
  60% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 10px;
    height: 2px;
    opacity: 0.5;
  }
  70% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 5px;
    height: 5px;
    opacity: 0;
  }
}

.loader::before {
  position: absolute;
  content: "Designdust";
  font-family: "Lobster", cursive;
  font-size: 3em;
  top: -50px;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: 9999;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

body.overflow {
  overflow: hidden;
}

.lightbox {
  display: none;
}

.lightbox .lb-title h4 {
  font-size: 1.2rem;
  line-height: 1em;
}

.lightbox .lb-title .lb-cat {
  font-size: 0.8rem;
}

a {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

a.black {
  color: #000000;
}

a .link {
  position: relative;
}

a .link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 11px;
  background-color: #b7ac7f;
  transition: all 0.5s ease-in-out;
}

a:hover, a:focus {
  color: #b7ac7f;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover:after {
  width: 50%;
}

.parallax {
  color: #1f1f1f;
  background: #ffffff no-repeat url("/assets/img/body-bg.jpg");
  background-position: right top 50%;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 150%;
  top: 0;
  right: 0;
  z-index: -1;
}

.dark-text {
  color: #6e6e6e;
}

.light-text {
  color: #1f1f1f;
}

.dark-bg {
  background-color: #1f1f1f;
  color: #6e6e6e;
}

.light-bg {
  background-color: #ffffff;
  color: #1f1f1f;
}

.section-gap {
  padding: 120px 0;
}

.lead-article {
  padding: 0 4rem;
}

.section-head {
  padding: 2rem 0 3rem;
}

.heading {
  line-height: 3rem;
  font-family: "Playfair Display", serif;
}

.sub-heading {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #b7ac7f;
  margin-top: 0;
}

.sub-heading::before {
  content: "/ ";
}

.sub-text {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
}

.lead {
  font-weight: 400;
}

.nowrap {
  white-space: nowrap;
}

.header-logo {
  left: 55px;
  top: 55px;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 1s;
  z-index: 120;
}

.header-logo.hide {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu-logo {
  top: 55px;
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
  transition: -webkit-transform 0.55s;
  transition: transform 0.55s;
  transition: transform 0.55s, -webkit-transform 0.55s;
}

.menu-logo.show {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 1s;
}

.header-logo,
.menu-logo {
  z-index: 100;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: fixed;
}

.header-logo a.site-logo,
.menu-logo a.site-logo {
  display: block;
  padding: 0;
  outline: 0;
  border: none;
  font-family: "Lobster", cursive;
  font-size: 2em;
  color: #b7ac7f;
  letter-spacing: -1px;
  transition: all 0.5s ease-in-out;
}

.header-logo a.site-logo:hover,
.menu-logo a.site-logo:hover {
  color: #6e6e6e;
}

.header-logo a.site-logo img,
.menu-logo a.site-logo img {
  width: 200px;
  height: 38px;
}

.menu-btn {
  position: fixed;
  z-index: 120;
  right: 55px;
  top: 55px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background: #000000;
  padding: 5px;
}

.menu-btn:hover .btn-line:nth-child(2) {
  background: #b7ac7f;
  -webkit-transform: translate(6px, 0px);
          transform: translate(6px, 0px);
}

.menu-btn .btn-line {
  height: 5px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn .btn-line:nth-child(1) {
  width: 28px;
  margin: 0 0 5px 0;
}

.menu-btn .btn-line:nth-child(2) {
  width: 22px;
  margin: 0 0 5px 0;
}

.menu-btn .btn-line:nth-child(3) {
  width: 28px;
}

.menu-btn.clicked .btn-line {
  background: #fff;
}

.menu-btn.clicked .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.menu-btn.clicked .btn-line:nth-child(2) {
  -webkit-transform: translate(-80%, 0px);
          transform: translate(-80%, 0px);
}

.menu-btn.clicked .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

.menu {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  height: 100%;
  padding: 120px 90px 70px 90px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 0.25s;
}

.menu.show {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.menu.show ul.menu-ul li {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

.menu.show ul.menu-ul li:nth-child(1) {
  transition-delay: 0.25s;
}

.menu.show ul.menu-ul li:nth-child(2) {
  transition-delay: 0.5s;
}

.menu.show ul.menu-ul li:nth-child(3) {
  transition-delay: 0.75s;
}

.menu.show ul.menu-ul li:nth-child(4) {
  transition-delay: 1s;
}

.menu.show ul.menu-ul li:nth-child(5) {
  transition-delay: 1.25s;
}

.menu.show ul.menu-ul li:nth-child(6) {
  transition-delay: 1.5s;
}

.menu.show ul.menu-ul li:nth-child(7) {
  transition-delay: 1.75s;
}

.menu.show ul.menu-ul li:nth-child(8) {
  transition-delay: 2s;
}

.menu.show ul.menu-ul li:nth-child(9) {
  transition-delay: 2.25s;
}

.menu.show .menu-about {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.85s;
}

.menu.show .menu-footer {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 1s;
}

.menu ul.menu-ul {
  list-style: none;
  padding: 0%;
}

.menu ul.menu-ul li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  transition: all 0.3s ease;
}

.menu ul.menu-ul li:last-of-type {
  margin-bottom: 0px;
}

.menu ul.menu-ul li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  transition: all 0.3s ease;
}

.menu ul.menu-ul li a.active {
  color: #b7ac7f;
}

.menu ul.menu-ul li a:hover {
  color: #b7ac7f;
}

.menu .menu-about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease;
}

.menu .menu-about a {
  color: #6e6e6e;
  margin-right: 20px;
}

.menu .menu-about a:hover {
  color: #ffffff;
}

.menu .menu-about a:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu .menu-about p {
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}

.menu .menu-footer {
  color: #ffffff;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.5;
  visibility: visible;
}

.hero {
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: #1f1f1f;
  z-index: 60;
  background: #ffffff;
  border-radius: 0 0 35rem 0;
}

.hero h1 {
  letter-spacing: -2px;
  font-size: 6rem;
  font-family: "Playfair Display", serif;
}

.hero .hero-subtitle {
  font-size: 2.6rem;
  padding-left: 120px;
  position: relative;
}

.hero .hero-subtitle::before {
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  background-color: #b7ac7f;
  position: absolute;
  left: 6px;
  top: 2.4rem;
}

.hero a.btn-gold {
  color: #ffffff;
  background: #b7ac7f;
}

.hero a.btn-gold:hover {
  border-color: #b7ac7f;
  background: #ffffff;
  color: #b7ac7f;
}

.about-area {
  border-radius: 0 35rem 0 0;
}

.about-area .skill-cat ol li {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  text-align: center;
}

.about-area .skill-cat ol li i {
  position: absolute;
  color: rgba(110, 110, 110, 0.1);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-area .services .services-cat {
  text-align: center;
}

.about-area .services .services-cat .glyph-icon:before {
  font-size: 8rem;
  color: #000000;
  margin-left: 0;
}

.portfolio-area .primary-btn {
  color: #ffffff;
  background-color: #b7ac7f;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-area .filters {
  text-align: center;
  margin-top: 50px;
}

.portfolio-area .filters ul {
  padding: 0;
}

.portfolio-area .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
}

.portfolio-area .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 60px);
  position: absolute;
  height: 2px;
  background: #000000;
  transition: width 350ms ease-out;
}

.portfolio-area .filters ul li:hover:after {
  width: calc(100% - 60px);
  transition: width 350ms ease-out;
}

.portfolio-area .filters ul li.active {
  color: #b7ac7f;
}

.portfolio-area .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}

.portfolio-area .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}

.portfolio-area .filters-content .item {
  position: relative;
  float: left;
  display: block;
  text-align: left;
  cursor: pointer;
  margin-bottom: 30px;
  color: #ffffff;
}

.portfolio-area .filters-content .item a.p-show {
  display: block;
  transition: all 0.5s ease-in-out;
}

.portfolio-area .filters-content .item a.p-show::before {
  content: "";
  position: absolute;
  opacity: 0;
  left: 30px;
  top: 30px;
  padding: 20px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  background-color: rgba(255, 255, 255, 0.1);
  background-clip: border-box;
  border: rgba(255, 255, 255, 0.1) 1px solid;
  transition: all 0.5s ease-in-out;
}

.portfolio-area .filters-content .item a.p-show .p-expand {
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  font-size: 0.5rem;
}

.portfolio-area .filters-content .item:hover a::before,
.portfolio-area .filters-content .item:hover a .p-expand,
.portfolio-area .filters-content .item:hover .p-inner,
.portfolio-area .filters-content .item:hover .p-links,
.portfolio-area .filters-content .item:hover .img-blur-container,
.portfolio-area .filters-content .item:hover .img-blur-container::after {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.portfolio-area .filters-content .item:hover .p-inner,
.portfolio-area .filters-content .item:hover .p-links {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-area .filters-content .item:hover a .p-expand {
  font-size: 1.8rem;
}

.portfolio-area .filters-content .item .img-blur-container {
  position: absolute;
  opacity: 0;
  left: 30px;
  top: 30px;
  overflow: hidden;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  transition: all 0.5s ease-in-out;
}

.portfolio-area .filters-content .item .img-blur-container::after {
  content: "";
  background: linear-gradient(-45deg, rgba(238, 119, 82, 0.2), rgba(183, 54, 209, 0.2), rgba(213, 157, 35, 0.2), rgba(213, 35, 204, 0.2));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.portfolio-area .filters-content .item .img-blur-container .img-blur {
  position: absolute;
  left: -30px;
  top: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.portfolio-area .filters-content .item .p-inner {
  position: absolute;
  opacity: 0;
  left: 50px;
  bottom: 50px;
  max-width: calc(100% - 100px);
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.portfolio-area .filters-content .item .p-inner h4 {
  font-size: 1rem;
}

.portfolio-area .filters-content .item .p-inner .cat {
  font-size: 0.8rem;
}

.portfolio-area .filters-content .item .p-links {
  color: #ffffff;
  position: absolute;
  top: 50px;
  left: 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}

.portfolio-area .filters-content .item img {
  width: 100%;
}

.contact-area {
  border-radius: 0 0 30rem 0;
  padding-bottom: 10.2rem;
  position: relative;
}

.contact-area a {
  color: #ffffff;
}

.contact-area a:hover {
  color: #b7ac7f;
}

.contact-area a:focus {
  color: #b7ac7f;
}

.contact-main {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.contact-main::before {
  content: "";
  display: block;
  height: 2px;
  width: 230px;
  background-color: #b7ac7f;
  position: absolute;
  top: 0;
}

.contact-main a {
  color: #6e6e6e;
}

.contact-main a.contact-email {
  color: #ffffff;
  font-size: 3rem;
}

.contact-main a:hover {
  color: #b7ac7f;
}

.contact-main a:focus {
  color: #b7ac7f;
}

.contact-social .social-links ul li {
  list-style: none;
  position: relative;
  display: block;
  padding: 0.75rem 0;
}

.contact-social .social-links ul li a {
  color: #6e6e6e;
  padding-left: 50px;
}

.contact-social .social-links ul li a:hover {
  border: none;
  color: #ffffff;
}

.contact-social .social-links ul li a:focus {
  border: none;
  color: #ffffff;
}

.contact-social .social-links ul li a i {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.copyright {
  margin-top: 2.1rem;
}

.copyright span {
  font-size: 15px;
  display: inline-block;
}

.copyright span:last-child::after {
  display: none;
}

.copyright span:after {
  content: "|";
  display: inline-block;
}

.to-top {
  position: absolute;
  float: right;
  bottom: 4rem;
  right: 55px;
  scroll-behavior: smooth;
  /* all IE versions <= 11 */
  /* all edge versions */
}

@media screen and (-ms-high-contrast: none) {
  .to-top {
    overflow: hidden;
  }
}

@supports (-ms-ime-align: auto) {
  .to-top {
    overflow: hidden;
  }
}

.to-top::before {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: #6e6e6e;
  position: absolute;
  top: -115px;
  left: 50%;
}

.to-top::after {
  content: "back to top";
  display: inline-block;
  width: 120px;
  font-size: 0.8rem;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #6e6e6e;
  position: absolute;
  left: calc(30px + 15px);
  top: -165px;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

.to-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: #000000;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 1.2em;
}

.to-top a:hover {
  background-color: #b7ac7f;
  color: #000000;
}

@media (max-width: 575.98px) {
  .parallax {
    height: 200%;
  }
  .menu {
    padding: 120px 55px 55px 55px;
  }
  .menu ul.menu-ul li {
    margin-bottom: 0;
  }
  .heading {
    font-size: 2.5rem;
  }
  .sub-text {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .lead-article {
    padding: 0 1rem;
  }
  .contact-main a.contact-email {
    font-size: 1.8rem;
  }
}

@media (max-width: 767.98px) {
  .hero h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  .hero .hero-subtitle {
    font-size: 1.6rem;
    padding-left: 60px;
    position: relative;
  }
  .hero .hero-subtitle::before {
    content: "";
    display: block;
    width: 2rem;
    height: 1px;
    background-color: #b7ac7f;
    position: absolute;
    left: 6px;
    top: 1.4rem;
  }
  .about-area .skill-cat {
    text-align: center;
  }
  .portfolio-area .filters ul li {
    padding: 6px 6px;
  }
}

@media (min-width: 768px) {
  .menu {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .hero h1 {
    font-size: 10rem;
  }
  .hero .hero-subtitle {
    font-size: 4rem;
    padding-left: 120px;
    position: relative;
  }
  .hero .hero-subtitle::before {
    content: "";
    display: block;
    width: 5rem;
    height: 2px;
    background-color: #b7ac7f;
    position: absolute;
    left: 6px;
    top: 3.2rem;
  }
  .portfolio-container {
    max-width: 80%;
  }
}
