/*  MIXINS
========================================== */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

body.overflow {
  overflow: hidden;
}

.menu-btn {
  position: absolute;
  z-index: 10;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #000;
  transition: all 0.5s ease-out;
}

.menu-btn.clicked {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.clicked .btn-line {
  background: #fff;
}

.menu-btn.clicked .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.clicked .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.clicked .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  background-color: #2a2a2a;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  padding: 120px 90px 70px 90px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu.show {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.menu.show ul.menu-ul {
  list-style: none;
  padding: 0%;
}

.menu.show ul.menu-ul li {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

.menu.show ul.menu-ul li:nth-child(1) {
  transition-delay: 0.15s;
}

.menu.show ul.menu-ul li:nth-child(2) {
  transition-delay: 0.3s;
}

.menu.show ul.menu-ul li:nth-child(3) {
  transition-delay: 0.45s;
}

.menu.show ul.menu-ul li:nth-child(4) {
  transition-delay: 0.6s;
}

.menu.show ul.menu-ul li:nth-child(5) {
  transition-delay: 0.75s;
}

.menu.show ul.menu-ul li:nth-child(6) {
  transition-delay: 0.9s;
}

.menu.show ul.menu-ul li:nth-child(7) {
  transition-delay: 1.05s;
}

.menu.show ul.menu-ul li:nth-child(8) {
  transition-delay: 1.2s;
}

.menu.show ul.menu-ul li:nth-child(9) {
  transition-delay: 1.35s;
}

.menu.show .about {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.85s;
}

.menu.show .about .social-links a {
  color: #ffffff;
  margin-right: 20px;
}

.menu.show .about .social-links a:hover {
  color: #b7ac7f;
}

.menu.show .about .social-links a:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu ul.menu-ul {
  list-style: none;
  padding: 0%;
}

.menu ul.menu-ul li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  transition: all 0.3s ease;
}

.menu ul.menu-ul li:last-of-type {
  margin-bottom: 0px;
}

.menu ul.menu-ul li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  transition: all 0.3s ease;
}

.menu ul.menu-ul li a span {
  color: #b7ac7f;
}

.menu ul.menu-ul li a:hover {
  color: #b7ac7f;
}

.menu .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.4s ease;
}

.menu .about .social-links a {
  color: #ffffff;
  margin-right: 20px;
}

.menu .about .social-links a:hover {
  color: #b7ac7f;
}

.menu .about .social-links a:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0;
}

.menu .about p {
  color: #ffffff;
  font-family: "Spectral", serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-color: #b7ac7f;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.8;
  visibility: visible;
}
